* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
}

button {
  border: none;
  background: none;
}

.label {
  background-color: #3DC47E;
  border-radius: 3px;
  padding: 5px 12px;
  color: #FFFFFF;
  font-size: 12px;
  line-height: 15px;
}

.header {
  padding: 15px 0;
  background-color: #ffffff;
}

@media (max-width: 600px) {
  .nav {
    margin-top: 30px;
  }
}

@media (max-width: 600px) {
  .nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
  }
}

.nav__item {
  list-style-type: none;
}

.nav__link {
  text-decoration: none;
  font-weight: 900;
  font-size: 14px;
  line-height: 20px;
  color: #939699;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.button {
  background-color: #4592FF;
  border-radius: 20px;
  padding: 10px 20px;
  color: #ffffff;
  font-weight: 900;
  font-size: 14px;
  line-height: 20px;
  font-family: 'Lato', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

.slider {
  position: relative;
  padding: 90px 0 100px;
  background: #B4D1E0 url("../img/slider-bg.png") no-repeat center right 25%/contain;
}

@media (max-width: 600px) {
  .slider {
    padding: 30px 0;
  }
}

.slider__title {
  color: #262D33;
  font-weight: 700;
  font-size: 55px;
  line-height: 70px;
  font-family: 'Roboto Slab', sans-serif;
  margin: 20px 0 15px;
}

@media (max-width: 600px) {
  .slider__title {
    font-size: 32px;
  }
}

.slider__desc {
  color: #4B5157;
  font-size: 18px;
  line-height: 30px;
  max-width: 335px;
  margin-bottom: 40px;
}

@media (max-width: 600px) {
  .slider__desc {
    font-size: 16px;
  }
}

.slider__nav {
  position: absolute;
  width: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  opacity: 0.5;
  z-index: 10;
}

.slider__nav button {
  cursor: pointer;
}

.card {
  padding: 50px 0 60px;
}

.card__container {
  margin-bottom: 30px;
}

.card__wrapper {
  padding: 60px 46px 80px;
  border-radius: 10px;
  height: 100%;
}

.card__wrapper--1 {
  background: url("../img/card-1.jpg") no-repeat center center/cover;
}

.card__wrapper--2 {
  background: url("../img/card-2.jpg") no-repeat center center/cover;
}

.card__wrapper--3 {
  background: url("../img/card-3.jpg") no-repeat center center/cover;
}

.card__wrapper--4 {
  background: url("../img/card-4.jpg") no-repeat center center/cover;
}

.card__wrapper--3 {
  padding: 35px 46px 60px;
}

.card__wrapper--3 .label {
  margin-bottom: 30px;
  display: inline-block;
}

.card__wrapper--3 .card__title {
  margin-bottom: 20px;
}

.card__wrapper--3 .card__text {
  margin-bottom: 40px;
}

.card__title {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: #262D33;
  font-family: 'Roboto Slab', sans-serif;
  max-width: 220px;
  margin-bottom: 15px;
}

.card__title--white {
  color: #ffffff;
}

.card__text {
  font-size: 14px;
  line-height: 20px;
  color: #4B5157;
  font-family: 'Lato', sans-serif;
  max-width: 175px;
  margin-bottom: 25px;
}

.card__text--white {
  color: rgba(255, 255, 255, 0.85);
}

.card__text--pink {
  color: #FFC4C9;
}

.card__price {
  font-weight: 900;
  font-size: 14px;
  line-height: 20px;
  color: #FFFFFF;
}

.goods {
  padding-bottom: 70px;
}

.goods__wrapper {
  margin-bottom: 30px;
}

.goods__title {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: #262D33;
  font-family: 'Roboto Slab', sans-serif;
}

.goods__link {
  font-weight: 900;
  font-size: 14px;
  line-height: 20px;
  color: #262D33;
  text-decoration: none;
}

.goods__card {
  position: relative;
  padding: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.goods__card .label {
  position: absolute;
  top: 18px;
  left: 18px;
}

.goods__card-img {
  margin-bottom: 15px;
}

.goods__card-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 25px;
  color: #262D33;
  font-family: 'Roboto Slab', sans-serif;
  margin-bottom: 5px;
}

.goods__card-desc {
  font-size: 14px;
  line-height: 20px;
  color: #4B5157;
  margin-bottom: 20px;
}

.goods__card-price {
  font-size: 18px;
  line-height: 30px;
  color: #262D33;
  font-weight: 900;
}

.footer {
  background-color: #8F79D4;
}

.footer__top {
  padding: 45px 0;
}

.footer__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}

@media (max-width: 600px) {
  .footer__nav-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer__nav-item {
  list-style-type: none;
}

.footer__nav-link {
  text-decoration: none;
  font-weight: 900;
  font-size: 14px;
  line-height: 20px;
  color: #FFFFFF;
}

.footer__text {
  font-size: 14px;
  line-height: 20px;
  color: #E7D9FF;
}

.footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 25px;
  gap: 15px;
}

.footer__socials-img {
  width: 20px;
  height: 20px;
}

.footer__hr {
  width: 100%;
  height: 1px;
  background-color: #D8BFFF;
  border: none;
}

.footer__bottom {
  padding: 25px 0 35px;
}

.footer__bottom-partners {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 25px;
}

@media (max-width: 768px) {
  .footer__bottom-partners {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer__button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #D8BFFF;
  margin-left: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*# sourceMappingURL=style.css.map */